
<div>

    <a class="btn  btn-primary" asp-controller="Administration" asp-action="alluser">see all users</a>
    <a class="btn  btn-primary" asp-controller="Administration" asp-action="all">See all files</a>

</div>