@{
    ViewData["Title"] = "Contact us";
}
<h3 class="text-xl-center mb-4 mt-5">@ViewData["Title"]</h3>


<table class="table">
    <thead>
        <tr>
            <th class="text-xl-center" scope="col">#</th>
            <th class="text-xl-center" scope="col">Name</th>
            <th class="text-xl-center" scope="col">Email</th>
            <th class="text-xl-center" scope="col">Contact no</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th class="text-xl-center" scope="row">1</th>
            <td class="text-xl-center">Utsav Shekh</td>
            <td class="text-xl-center">shekhutsav1962001@gmail.com</td>
            <td class="text-xl-center">+91 74340 69974</td>
        </tr>
        <tr>
            <th class="text-xl-center" scope="row">2</th>
            <td class="text-xl-center">Harsh Saparia</td>
            <td class="text-xl-center">harshsaparia007@gmail.com</td>
            <td class="text-xl-center">+91 97225 20580</td>
        </tr>

    </tbody>
</table>